.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(37, 28, 24, 0.55);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 600px;
  min-height: 340px;
  width: fit-content;
  padding: 12px;
  background-color: rgb(184, 169, 199);
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 50px -7px rgba(203, 128, 255, 0.8);
  -moz-box-shadow: 0px 10px 50px -7px rgba(203, 128, 255, 0.8);
  box-shadow: 0px 10px 50px -7px rgba(203, 128, 255, 0.8);
}
